# Binaries for programs and plugins
# Ignore Redis database dumps
./redis/*.rdb

# Ignore .env file
.env


# Logs and databases
*.log
*.db
*.rdb

# Output files
*.out
*.o

# Go specific
*.test
*.mod
*.sum

# IDE/editor settings
.idea/
.vscode/
*.swp

# Docker-related files
.env

# System files
.DS_Store
Thumbs.db
